{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://use.fontawesome.com/11f189082a.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/account.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/main.css' %}">	
	<script type="text/javascript" src="{% static 'myapp/account.js' %}"></script>
	
	<style>
	
		input[type=submit]
		{	float: right;	}
		
	</style>
	
	<script>
	
		function clickSubmit()
		{
			var pattern = /.*[가-힣ㄱ-ㅎㅏ-ㅣ]+.*/;
			document.getElementById('id').value = document.getElementById('id').value.replace(/ /gi, '');
			document.getElementById('pass').value = document.getElementById('pass').value.replace(/ /gi, '');
			document.getElementById('name').value = document.getElementById('name').value.replace(/ /gi, '');
			
			if((document.getElementById('id').value.length <= 4) || (pattern.test(document.getElementById('id').value)) )
			{
				alert('아이디는 5글자 이상의 영문자입니다.');
				document.getElementById('id').focus();
			}
			else if(document.getElementById('pass').value.length <= 4)
			{
				alert('비밀번호는 5글자 이상입니다.');
				document.getElementById('pass').focus();
			}
			else if(document.getElementById('repass').value != document.getElementById('pass').value)
			{
				alert('비밀번호와 비밀번호 확인이 일치하지 않습니다.');
				document.getElementById('pass').value = "";
				document.getElementById('repass').value = "";
				document.getElementById('pass').focus();
			}
			else if(document.getElementById('name').value.length <= 2)
			{
				alert('닉네임은 3글자 이상입니다.');
				document.getElementById('name').focus();
			}
			else
				document.getElementById('account').submit();
			
		}	
	</script>
	
</head>
<body>
	<div id="desktop">
	</div>
	
	<div id="box">
		<form id="account" method="POST" action="" onsubmit="return false" autocomplete="off">>{% csrf_token %}
			<div class="form-body">				
				<input type="text" id="id" name="id" class="input-text" onkeydown='keyenter(0)' onblur="labelAction('id')">
				<div id="idlabel" class="label" style="transform: scale(1) translateY(-25px);">
					<label for="id">계정</label>
				</div>
			</div>
			<div class="form-body">				
				<input type="password" id="pass" name="pass" class="input-text" onkeydown='keyenter(1)' onblur="labelAction('pass')">
				<div id="passlabel" class="label" style="transform: scale(1) translateY(-25px);">
					<label for="pass">비밀번호</label>
				</div>
			</div>
			
			<div class="form-body">				
				<input type="password" id="repass" name="repass" class="input-text" onkeydown='keyenter(2)' onblur="labelAction('repass')">
				<div id="repasslabel" class="label" style="transform: scale(1) translateY(-25px);">
					<label for="repass">비밀번호 확인</label>
				</div>
			</div>
			
			<div class="form-body">				
				<input type="text" id="name" name="name" class="input-text" onkeydown='submitkey()' onblur="labelAction('name')">
				<div id="namelabel" class="label" style="transform: scale(1) translateY(-25px);">
					<label for="name">닉네임</label>
				</div>
			</div>
			
			<div class="form-foot">				
				<input type="submit" onclick="clickSubmit()" value="가입하기">
			<div>
			
			
		</form>
	</div>
</body>
</html>
